@model MVCTextBoxIOKullanimi.Models.Trumbowyg

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Goster</title>
</head>
<body>
    <h4 style="color:red;"> Gelen İçerik</h4>
    <p>
        @Html.Raw(Model.Icerik)
    </p>

</body>
</html>
